.banner-header-interno{
    height: 30vh;
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    background-image: url(../img/header-interno.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    margin-top: 5vh;
}
.container-interno {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: 4vw;
}
.text-header-interno{
    font-family: 'Montserrat', sans-serif;
    position: relative;
    width: 100%;
}
.text-header-interno h1{
    font-size: 3rem;
    color: #01072f;
}
.bloco-conteudo{
    margin-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: justify;
}


.subtitulo-pages{
    font-family: 'Montserrat', sans-serif;
    font-size: rem;
    color: #4B0082;
    font-style:normal;
}
.descricao p{
    font-family: 'Montserrat', sans-serif;
    margin-top: 1vh;
}
