.conteudo-inteligencia{
    font-family: 'Montserrat', sans-serif;
}
.title{
    color: #4B0082;
    font-size: 3rem;
    text-align: center;
}
.bloco-conteudo h3{
    color: #4B0082;
    margin-top: 5vh;
    font-size: 2rem;
}