.conteudo p{
    font-family: 'Montserrat', sans-serif;
}

.conteudo h3{
    color: #4B0082;
    font-family: 'Montserrat', sans-serif;
}

.txt {
    display: flex;
    gap: 3rem;
    padding-top: 3rem;
    text-align: justify;
}
.intercalado {
    flex-direction: row-reverse;
}
.img-text {
    display: flex;
    margin-top: 2rem;
    width: 60vw;
    height: 100%;
}
.img-reverse {
    background-image: linear-gradient(to right, #F5F5DC 5%, transparent 58%);
}


