.conteudo-pages{
    font-family: 'Montserrat', sans-serif;
}
.title{
    color: #905E26          ;
    font-size: 3.2rem;
    text-align: center;
}
.bloco-conteudo{
    margin-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: justify;
}
.descricao-interna h3{
    color: #4B0082;
    font-size: 2rem;
}