.main-contato{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3% 0 3% 0;
}
.form-contato{
    background-color: #ffffff;
    border-radius: 8px;
    width: 40vw;
    padding: 2rem 1%;
    box-shadow: 8px 8px 20px -7px rgba(0,2,0,0.5);
    font-family: 'Montserrat', sans-serif;
}
.field-box{
    border-style: none;
}
.bloco-form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.bloco-input{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bloco-form textarea{
    min-height: 200px;
    min-width: 420px;
    max-height: 200px;
    max-width: 420px;
    margin-top: 15px;
    border-style: groove;
    border-radius: 7px;
}

.div-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 3vh;
    gap: 4vw;
}
.btn-contato{
    font-size: 1.6rem;
    color: #f0f0f0;
    height: 5vh;
    width: 10vw;
    background-color: #050032;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}
.btn-contato:hover{
    opacity: 0.85;
}

.text-contato {
    color:#050032;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
}

.grupo-input img{
    position: absolute;
}
.icon-input{
    margin: 18px 0 0 380px;
    color: #050032;
    max-width: 35px;
    max-height: 35px;
}
.decoretion-form{
    height: 65px;
    width: 450px;
    font-size: 1.4rem;
    border-style: groove;
    border-color: #050032;
    border-style: none none groove none;
    display: flex;
    padding: 0 11px 0 11px;
}