.conteudo p{
    font-family: 'Montserrat', sans-serif;
}

.conteudo h3{
    color: #4B0082;
    font-family: 'Montserrat', sans-serif;
}

.txt {
    display: flex;
    gap: 3rem;
    padding-top: 3rem;
    text-align: justify;
}
.intercalado {
    flex-direction: row-reverse;
}
.img-text {
    display: flex;
    margin-top: 2rem;
    width: 60vw;
    height: 100%;
}
.img-reverse {
    background-image: linear-gradient(to right, #F5F5DC 5%, transparent 58%);
}

.txt-conteudo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 3.5rem;
    text-align: justify;
}
.txt-conteudo h3{
    display: flex;
    justify-content: center;
    text-align: left;
}

.img-conteudo{
    width: 45vw;
    height: 100%;
    margin-top: 3vh;
}


