.banner-header-interno{
    height: 30vh;
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    background-image: url(../img/header-interno.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    margin-top: 5vh;
}
.container-interno {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: 4vw;
}
.text-header-interno{
    font-family: 'Montserrat', sans-serif;
    position: relative;
    width: 100%;
}
.text-header-interno h1{
    font-size: 3rem;
    color: #01072f;
}
.bloco-conteudo{
    margin-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: justify;
}
.subtitulo-pages{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    color: #4B0082;
    text-align: left;
}
.paragrafo{
    font-family: 'Roboto';
    margin-top: 1.3vh;
    text-align: justify;
}
.descricao-vertical{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.descricao-vertical p{
    margin-top: 5vh;
}
.descricao-vertical img{
    margin-top: 3vh;
}
.linha-secoes{
    margin-top: 8vh;
    height: 1px;
    width: 100%;
    background: #3900626c;
    display: inline-flex;
    box-shadow: 1px 1px 20px 0.1px #390062;
    border-radius: 70px;
}
