.conteudo{
  
}

.conteudo h3{
    color: #54B876;
}
.txt {
    display: flex;
    gap: 3rem;
    padding-top: 3rem;
}
.intercalado {
    flex-direction: row-reverse;
}
.img-text {
    width: 50%;
}


