.footer{
    background-color: #8B4513;
    margin-top: 7vh;
}

.footer nav{
    display: flex;
    justify-content: space-around;
}

.footer h4{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-top: 1vh;
    font-size: 1.3rem;
    font-weight: 550;
    color: #fff;
}
.footer img{
    margin-top: 1vh;
    margin-bottom: 1vh;
    max-width: 150px; 
    max-height: 1500px;
    width: auto;
    height: auto;
}
