.footer{
    background-color: #8B4513;
    margin-top: 7vh;
    margin-bottom: -3vh;
}

.footer nav{
    display: flex;
    justify-content: space-around;
    margin-top: 4vh;
}

.footer h4{
    font-family: 'Roboto';
    text-align: center;
    padding-top: 1vh;
    font-size: 2rem;
    color: #fff;
}

.direitos-footer{
    font-family: 'Roboto';
    text-align: center;
    color: #ffffff;
    padding: 2vh;
    font-size: 1.5rem;
}

.txt-footer{
    font-family: 'Roboto';
    text-align: center;
    color: #ffffff;
    font-size: 1rem;
}

.linha-footer{
    margin-top: 2vh;
    height: 2px;
    width: 100%;
    background: #ffffff;
    display: inline-flex;
    justify-content: center;
}