.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #8B4513;
    height: 12vh;
    width: 100% ;
  }

.header img{
  width: 160px;
  height: 70px;
  margin-left: 3vw;
}
  
  .header nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 68vw; 
    text-align: center;
   
  }
  
  .header a {
    text-decoration: none;
    font-size: 1.3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 550;
    height: 4vh;
    color: #fff;
  }
  
