.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #8B4513;
    height: 12vh;
  }

.header img{
    height: 60px;
    width: 200px;
    margin: 0 0 0 3vw;
}
  
  .header nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 60vw; 
    text-align: center;
   
  }
  
  .header a {
    text-decoration: none;
    font-size: 1.1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 700;
    height: 4vh;
    color: #fff;
  }
  
  .header a:hover {
    background-color: #fff;
    color: #000000;
  }