.header {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    background-color: #8B4513;
    height: auto;
    width: 100% ;
    max-width: 100%;
  }

.header img{
  width: 260px;
  height: auto;
}
  
.header nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}
  
.header nav a{
  text-decoration: none;
  font-size: 1.38rem;
  font-family: 'Roboto';
  color: #fff;
  padding-left: 2vw;
  max-width: 500px;
}

.header nav a:active {
  color: #06004a; 
  font-weight: bold;
}

