.carousel img {
    height: 60vh;
    border-radius: 15px;
}
.container-carrousel{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
    
}
.carousel {
    max-width: 100%;
    width: 55vw;
}