.carousel img {
    height: 55vh;
    border-radius: 15px;
}
.container-carrousel{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.carousel {
    max-width: 100%;
    width: 55vw;
}
.carousel-inner h5{
    font-size: 1.8rem;
}
.carousel-inner p{
    font-size: 1.1rem;
}