@import url("./header.css");
@import url("./footer.css");
@import url("./section-carrossel.css");
@import url("./conteudo-pages.css");
@import url("./criadores.css");
@import url("./contato.css");
@import url("./conteudo.css");

*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
}
body {
    background: #efefef !important;
    overflow-x: hidden;
}

.principal{
    margin: 7vh 7%;
}

@media(max-width: 2560px){
    .header{
        height: 12vh;
        justify-content: space-between;
    }
    .header img{
        height: 11vh;
        width: 13vw;
        margin-left: 2vw;
    }
    .header nav{
        padding-right: 5vw;
    }
    .header nav a{
        font-size: 1.8rem;
        padding-left: 6vw;
    }
    .txt{
        margin-top: 4vh;
    }
    .descricao-interna h3{
        font-size: 3rem;
        padding-top: 4vh;
    }
    .subtitulo-pages{
        font-size: 3rem;
        padding-top: 4vh;
    }
    .paragrafo{
        font-size: 1.7rem;
    }
    .descricao-interna p{
        font-size: 1.7rem;
    }
    .title{        
        font-size: 4rem;
    }

    /* PAGE CONTATO */
    .form-contato{
        width: 38vw;
    }
    .decoretion-form{
        height: 65px;
        width: 475px;
        font-size: 1.6rem;
    }
    .icon-input{
        margin: 18px 0 0 400px;
        max-width: 35px;
        max-height: 35px;
    }
}

@media(max-width: 1848px){
    .header img{
        width: 14.2vw;
        margin-left: 1.4vw;
    }
    .header nav{
        padding-right: 2.5vw;
    }
    .header nav a{
        font-size: 1.7rem;
        padding-left: 4vw;
    }
    .txt img{
        margin-top: 10vh;
    }
    .descricao-interna h3{
        font-size: 2.7rem;
        padding-top: 0vh;
        text-align: left;
    }
    .subtitulo-pages{
        font-size: 2.7rem;
        padding-top: 0vh;
        text-align: left;
    }
    .paragrafo{
        font-size: 1.67rem;
    }
    .descricao-interna p{
        font-size: 1.67rem;
    }
    .title{        
        font-size: 3.5rem;
    }
    .img-perfil{
        max-width: 220px; 
        max-height: 220px;
    }
    .icon{
        max-width: 35px; 
        max-height: 35px;
    }
    .perfil p{
        font-size: 1.6rem;
    }
    .banner-header{
        height: 73vh;
    }
    .text-header h1{
        border-bottom: 17vh;
        font-size: 2.5rem;
        border-bottom: 1.5px solid #000;
        width: 900px;
    }
    .text-header h4{
        padding-top: 2.4vh;
        font-size: 1.8rem;
    }

    /* PAGE CONTATO */
    .form-contato{
        width: 50vw;
    }
    .icon-input{
        margin: 18px 0 0 430px;
        max-width: 35px;
        max-height: 35px;
    }
    .decoretion-form{
        height: 65px;
        width: 500px;
        font-size: 1.6rem;
    }
    .div-buttons{
        gap: 6vw;
    }
}

@media(max-width: 1458px){
    .header img{
        height: 10vh;
        width: 12.5vw;
        margin-left: 1.4vw;
    }
    .header nav{
        padding-right: 3vw;
    }
    .header nav a{
        font-size: 1.2rem;
        padding-left: 3.5vw;
    }
    .txt img{
        margin-top: 0vh;
    }
    .descricao-interna h3{
        font-size: 2rem;
    }
    .subtitulo-pages{
        font-size: 2rem;
    }
    .paragrafo{
        font-size: 1rem;
    }
    .descricao-interna p{
        font-size: 1rem;
    }
    .title{        
        font-size: 2.8rem;
    }
    .img-perfil{
        max-width: 180px; 
        max-height: 180px;
    }
    .icon{
        max-width: 32px; 
        max-height: 32px;
    }
    .perfil p{
        font-size: 1.5rem;
    }
    .carousel-inner h5{
        font-size: 1.2rem;
    }
    .carousel-inner p{
        font-size: 0.77rem;
    }
    .carousel img {
        height: 56vh;
    }
    .carousel {
        width: 50vw;
    }
    .banner-header{
        height: 76vh;
    }
    .text-header h1{
        border-bottom: 17vh;
        font-size: 1.7rem;
        border-bottom: 1px solid #000;
        width: 600px;
    }
    .text-header h4{
        padding-top: 2vh;
        font-size: 1.2rem;
    }

    /* PAGE CONTATO */
    .form-contato{
        width: 50vw;
    }
    .icon-input{
        margin: 18px 0 0 340px;
        max-width: 35px;
        max-height: 20px;
    }
    .decoretion-form{
        height: 65px;
        width: 380px;
        font-size: 1.2rem;
    }
    .div-buttons{
        gap: 6vw;
    }
    .btn-contato{
        font-size: 1.25rem;
        height: 7vh;
        border-radius: 7px;
    }
    .text-contato {
        font-size: 1.9rem;
    }
}

@media(max-width: 1112px){
    .header img{
        height: 10.5vh;
        width: 12vw;
    }
    .header nav{
        padding-right: 3vw;
    }
    .header nav a{
        font-size: 1.1rem;
    }
    .txt img{
        width: 34vw;
        height: 100%;
    }
    .descricao-interna h3{
        font-size: 1.3rem;
    }
    .subtitulo-pages{
        font-size: 1.3rem;
    }
    .paragrafo{
        font-size: 0.96rem;
    }
    .descricao-interna p{
        font-size: 0.96rem;
    }
    .footer h4{
        font-size: 1rem;
    }
    .footer img{
        max-width: 100px; 
        max-height: 100px;
    }
    .title{        
        font-size: 2rem;
    } 
    .img-perfil{
        max-width: 160px; 
        max-height: 160px;
    }
    .icon{
        max-width: 27px; 
        max-height: 27px;
    }
    .perfil p{
        font-size: 1rem;
    }
    .title-home h1{
        font-size: 1.3rem;
    }
    .linha{
        height: 2px;
        width: 50px;
    }
    .text-header h1{
        border-bottom: 17vh;
        font-size: 1.5rem;
        border-bottom: 1px solid #000;
        width: 600px;
    }
    .text-header h4{
        padding-top: 1vh;
        font-size: 1rem;
    }

    /* PAGE CONTATO */
    .form-contato{
        width: 55vw;
    }
    .icon-input{
        margin: 18px 0 0 340px;
        max-width: 35px;
        max-height: 20px;
    }
    .decoretion-form{
        height: 50px;
        width: 380px;
        font-size: 1.2rem;
    }
    .btn-contato{
        font-size: 1.25rem;
        height: 7vh;
        width: 12vw;
    }
}

@media(max-width: 900px){
    .header img{
        width: 15vw;
    }
    .header nav{
        padding-right: 2.8vw;
    }
    .header nav a{
        font-size: 0.9rem;
    }
    .paragrafo{
        font-size: 0.9rem;
    }
    .descricao-interna p{
        font-size: 0.9rem;
    }
    .img-perfil{
        max-width: 120px; 
        max-height: 120px;
    }
    .icon{
        max-width: 23px; 
        max-height: 23px;
    }
    .perfil p{
        font-size: 0.93rem;
    }
    .carousel-inner h5{
        font-size: 1rem;
    }
    .carousel-inner p{
        font-size: 0.6rem;
    }
    .carousel img {
        height: 50vh;
    }

    /* PAGE CONTATO */
    .form-contato{
        width: 60vw;
    }
    .icon-input{
        margin: 18px 0 0 295px;
        max-width: 35px;
        max-height: 20px;
    }
    .decoretion-form{
        height: 50px;
        width: 330px;
        font-size: 0.95rem;
    }
    .btn-contato{
        font-size: 1.2rem;
        height: 7vh;
        width: 14vw;
    }
    .bloco-form textarea{
        min-height: 200px;
        min-width: 370px;
        max-height: 200px;
        max-width: 370px;
    }
}


@media(max-width: 768px){
    .header img{
        width: 13.5vw;
        height: 8.2vh;
        margin-left: 0.4vw;
    }
    .header nav{
        padding-right: 1.2vw;
    }
    .header nav a{
        font-size: 0.72rem;
    }
    .descricao-interna h3{
        font-size: 1.05rem;
    }
    .subtitulo-pages{
        font-size: 1.05rem;
    }
    .paragrafo{
        font-size: 0.76rem;
    }
    .descricao-interna p{
        font-size: 0.76rem;
    }
    .txt img{
        width: 40vw;
    }
    .footer h4{
        font-size: 0.8rem;
    }
    .footer img{
        max-width: 80px; 
        max-height: 80px;
    }
    .btn-carrosel button{
        width: 2px;
    }
    .carousel button{
        max-width: 25px;
    }
    .carousel-inner h5{
        font-size: 1rem;
    }
    .carousel-inner p{
        font-size: 0.59rem;
    }
    .carousel img {
        height: 52vh;
    }
    .carousel {
        width: 65vw;
    }
    .title{        
        font-size: 1.45rem;
    } 
    .img-perfil{
        max-width: 110px; 
        max-height: 110px;
    }
    .icon{
        max-width: 20px; 
        max-height: 20px;
    }
    .perfil p{
        font-size: 0.79rem;
    }
    .title-home h1{
        font-size: 1.18rem;
    }
    .linha{
        height: 1.6px;
        width: 50px;
    }
    .banner-header{
        height: 70vh;
    }
    .text-header h1{
        border-bottom: 17vh;
        font-size: 1.3rem;
        border-bottom: 1px solid #000;
        width: 400px;
    }
    .text-header h4{
        padding-top: 2vh;
        font-size: 0.9rem;
    }

    /* PAGE CONTATO */
    .form-contato{
        width: 70vw;
    }
    .icon-input{
        margin: 12px 0 0 270px;
        max-width: 18px;
        max-height: 19px;
    }
    .decoretion-form{
        height: 40px;
        width: 300px;
        font-size: 0.8rem;
    }
    .btn-contato{
        font-size: 1rem;
        height: 6vh;
        width: 16vw;
    }
    .bloco-form textarea{
        min-height: 190px;
        min-width: 320px;
        max-height: 190px;
        max-width: 320px;
    }
    .text-contato {
        font-size: 1.4rem;
    }
}

@media(max-width: 580px){
    .header img{
        width: 13.6vw;
        height: 7vh;
        margin-left: 0.4vw;
    }
    .header nav{
        padding-right: 1.2vw;
    }
    .header nav a{
        font-size: 0.63rem;
    }

    .footer h4{
        font-size: 0.6rem;
    }
    .footer img{
        max-width: 60px; 
        max-height: 60px;
    }
    .carousel img {
        height: 40vh;
    }
    .carousel button{
        max-width: 20px;
    }
    .txt{
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
        padding-top: 2rem;
    }
    .txt .intercalado{
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
        padding-top: 2rem;
    }
    .descricao-interna h3{
        font-size: 1.25rem;
    }
    .subtitulo-pages{
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 1.25rem;
    }
    .txt img{
        width: 65vw;
    }
    .img-conteudo{
        width: 65vw;
    }

    /* PAGE CONTATO */
    .form-contato{
        width: 70vw;
    }
    .icon-input{
        margin: 14px 0 0 245px;
        max-width: 18px;
        max-height: 19px;
    }
    .decoretion-form{
        height: 35px;
        width: 270px;
        font-size: 0.7rem;
    }
    .btn-contato{
        font-size: 0.85rem;
        height: 6vh;
        width: 18vw;
    }
    .bloco-form textarea{
        min-height: 190px;
        min-width: 290px;
        max-height: 190px;
        max-width: 290px;
    }

    
}

@media(max-width: 503px){
    .header{
        display: flex;
        flex-direction: column;
        height: 16vh;
    }
    .header img{
        width: 20vw;
        height: 8vh;
    }
    .header nav{
        justify-content: space-around;
        padding-bottom: 3vh;
    }
    .header nav a{
        
        font-size: 0.63rem;
    }
    .carousel button{
        max-width: 17px;
    }
    .carousel img {
        height: 35vh;
    }

    /* PAGE CONTATO */
    .form-contato{
        width: 75vw;
    }
    .icon-input{
        margin: 12px 0 0 250px;
        max-width: 16px;
        max-height: 16px;
    }
    .decoretion-form{
        height: 40px;
        width: 280px;
        font-size: 0.78rem;
    }
    .btn-contato{
        font-size: 1rem;
        height: 6vh;
        width: 20vw;
    }
    .bloco-form textarea{
        min-height: 160px;
        min-width: 300px;
        max-height: 160px;
        max-width: 300px;
    }
}

@media(max-width: 425px){

    .header img{
        width: 20vw;
        height: 7vh;
        margin-top: 1vh;
    }
    .header nav a{
        font-size: 0.6rem;
    }
    .carousel {
        width: 80vw;
    }
    .carousel button{
        max-width: 15px;
    }
    .carousel img {
        height: 30vh;
    }
    .subtitulo-pages{
        font-size: 1rem;
    }
    .descricao-interna h3{
        font-size: 1rem;
    }
    .title{        
        font-size: 1.2rem;
    } 
    .title-home h1{
        font-size: 1rem;
    }
    .linha{
        height: 1px;
        width: 40px;
    }
    .carousel img {
        height: 35vh;
    }
    .carousel {
        width: 70vw;
    }
    .banner-header{
        height: 55vh;
    }
    .text-header h1{
        border-bottom: 12vh;
        font-size: 1rem;
        border-bottom: 1px solid #000;
        width: 250px;
    }
    .text-header h4{
        padding-top: 1vh;
        font-size: 0.7rem;
    }

    /* PAGE CONTATO */
    .form-contato{
        width: 85vw;
    }
    .icon-input{
        margin: 12px 0 0 227px;
        max-width: 16px;
        max-height: 16px;
    }
    .decoretion-form{
        height: 40px;
        width: 250px;
        font-size: 0.7rem;
    }
    .btn-contato{
        font-size: 1rem;
        height: 6vh;
        width: 25vw;
    }
    .bloco-form textarea{
        min-height: 150px;
        min-width: 270px;
        max-height: 150px;
        max-width: 270px;
    }
    .text-contato {
        font-size: 1.4rem;
    }
    .div-buttons{
        gap: 12vw;
    }
}

@media(max-width: 400px){
    .header img{
        width: 24.5vw;
        height: 8vh;
    }
    .header nav a{
        font-size: 0.536rem;
        font-family:Arial, Helvetica, sans-serif;
    }

    /* PAGE CONTATO */
    .form-contato{
        width: 90vw;
    }
    .icon-input{
        margin: 8px 0 0 227px;
        max-width: 16px;
        max-height: 16px;
    }
    .decoretion-form{
        height: 30px;
        width: 250px;
        font-size: 0.68rem;
    }
    .btn-contato{
        font-size: 0.8rem;
        width: 22vw;
    }
}

@media(max-width: 357px){
    .header img{
        width: 24.6vw;
        height: 7.5vh;
    }
    .header nav a{
        font-size: 0.53rem;
    }
    .carousel button{
        max-width: 13px;
    }
    .title{        
        font-size: 1rem;
    } 
    .subtitulo-pages{
        font-size: 0.9rem;
    }
    .descricao-interna h3{
        font-size: 0.9rem;
    }
    .footer img{
        max-width: 50px; 
        max-height: 50px;
    }

    /* PAGE CONTATO */
    .form-contato{
        width: 95vw;
    }
    .icon-input{
        margin: 8px 0 0 224px;
        max-width: 16px;
        max-height: 16px;
    }
    .decoretion-form{
        height: 30px;
        width: 243px;
        font-size: 0.67rem;
    }
    .bloco-form textarea{
        min-height: 150px;
        min-width: 260px;
        max-height: 150px;
        max-width: 260px;
        margin-top: 5px;
    }
}

@media(max-width: 323px){
    .header img{
        width: 24.6vw;
        height: 7vh;
    }
    .header nav a{
        font-size: 0.52rem;
    }
    .carousel button{
        max-width: 11px;
    }
    .title-home h1{
        font-size: 1rem;
    }
    .linha{
        height: 0.9px;
        width: 20px;
    }
    .banner-header{
        height: 45vh;
    }
    .text-header h1{
        border-bottom: 12vh;
        font-size: 0.95rem;
        border-bottom: 1px solid #000;
        width: 180px;
    }
    .text-header h4{
        padding-top: 1vh;
        font-size: 0.6rem;
    }
}