@import url("./header.css");
@import url("./footer.css");
@import url("./section-carrossel.css");
@import url("./conteudo.css");

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
}
body {
    background: #F5F5DC !important;
    overflow-x: hidden;
}
.main{
    margin: 0 7%;
}

@media(max-width: 2560px){
    .header{
        height: 12vh;
        justify-content: space-between;
    }
    .header img{
        height: 11vh;
        width: 13vw;
        margin-left: 2vw;
    }
    .header nav{
        padding-right: 5vw;
    }
    .header a{
        font-size: 1.8rem;
        padding-left: 6vw;
    }
    .txt{
        margin-top: 4vh;
    }
    .descricao h3{
        font-size: 3rem;
        padding-top: 4vh;
    }
    .descricao p{
        font-size: 1.7rem;
    }
}