@import url("./header.css");
@import url("./footer.css");
@import url("./section-carrossel.css");
@import url("./conteudo.css");

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
}
body {
    background: #F5F5DC !important;
    overflow-x: hidden;
}
.main{
    margin: 0 7%;
}

@media(max-width: 2560px){
    .header{
        height: 12vh;
        justify-content: space-between;
    }
    .header img{
        height: 11vh;
        width: 13vw;
        margin-left: 2vw;
    }
    .header nav{
        padding-right: 5vw;
    }
    .header a{
        font-size: 1.8rem;
        padding-left: 6vw;
    }
    .txt{
        margin-top: 4vh;
    }
    .descricao h3{
        font-size: 3rem;
        padding-top: 4vh;
    }
    .descricao p{
        font-size: 1.7rem;
    }
}

@media(max-width: 1848px){
    .header img{
        width: 14.2vw;
        margin-left: 1.4vw;
    }
    .header nav{
        padding-right: 2.5vw;
    }
    .header a{
        font-size: 1.7rem;
        padding-left: 4vw;
    }
    .txt img{
        margin-top: 10vh;
    }
    .descricao h3{
        font-size: 2.7rem;
        padding-top: 0vh;
        text-align: left;
    }
    .descricao p{
        font-size: 1.67rem;
    }
}

@media(max-width: 1458px){
    .header img{
        height: 10vh;
        width: 12.5vw;
        margin-left: 1.4vw;
    }
    .header nav{
        padding-right: 3vw;
    }
    .header a{
        font-size: 1.2rem;
        padding-left: 3.5vw;
    }
    .txt img{
        margin-top: 0vh;
    }
    .descricao h3{
        font-size: 2rem;
    }
    .descricao p{
        font-size: 1rem;
    }
}

@media(max-width: 1458px){
    .header img{
        height: 10vh;
        width: 12.5vw;
        margin-left: 1.4vw;
    }
    .header nav{
        padding-right: 3vw;
    }
    .header a{
        font-size: 1.2rem;
    }
    .descricao h3{
        font-size: 2rem;
    }
    .descricao p{
        font-size: 1rem;
    }
}

@media(max-width: 1112px){
    .header img{
        height: 10.5vh;
        width: 12vw;
    }
    .header nav{
        padding-right: 3vw;
    }
    .header a{
        font-size: 1.1rem;
    }
    .txt img{
        width: 34vw;
        height: 100%;
    }
    .descricao h3{
        font-size: 1.3rem;
    }
    .descricao p{
        font-size: 0.96rem;
    }
    .footer h4{
        font-size: 1rem;
    }
    .footer img{
        max-width: 100px; 
        max-height: 100px;
    }
    
}

@media(max-width: 1112px){
    .header img{
        height: 10.5vh;
        width: 12vw;
    }
    .header nav{
        padding-right: 3vw;
    }
    .header a{
        font-size: 1.1rem;
    }
    .txt img{
        width: 34vw;
        height: 100%;
    }
    .descricao h3{
        font-size: 1.3rem;
    }
    .descricao p{
        font-size: 0.96rem;
    }
    .footer h4{
        font-size: 1rem;
    }
    .footer img{
        max-width: 100px; 
        max-height: 100px;
    }
    
}

@media(max-width: 900px){
    .header img{
        width: 15vw;
    }
    .header nav{
        padding-right: 2.8vw;
    }
    .header a{
        font-size: 0.9rem;
    }
    .txt img{
        width: 34vw;
        height: 100%;
    }
    .descricao h3{
        font-size: 1.3rem;
    }
    .descricao p{
        font-size: 0.9rem;
    }
    .carousel-inner h5{
        font-size: 1.1rem;
    }
    .carousel-inner p{
        font-size: 0.8rem;
    }
}